.Button {
	border: none;
	background-color: white;

	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color: $grey;
	line-height: 4rem;

	display: inline;
	padding: 10px 15px;
	border-radius: 3px;
	
	cursor: pointer;
	transition: color 1s;
	&:hover {
		color: darken($grey, 10%);
	}
}

.Button--positive {
	@extend .Button;
	&:hover {
		color: lighten($bright-green, 20%);
	}
}

.Button--negative {
	@extend .Button;
	&:hover {
		color: lighten(red, 20%);
	}
}