.Card {
	background-color: white;
	display: block;
	width: 100%;
	max-width: 700px;
	height: 400px;
	max-height: 400px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.36);
	h2 {
		display: block;
		margin-bottom: 15px;
	}
	p {
		display: inline-block;
	}
	img {
		display: block;
	}
}