h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.6rem;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.0rem;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

p, li, span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2.2rem;
}

strong {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;	
}

em {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.4rem;	
}

a, .Link {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	color: $green;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: darken($green, 10%);
	}
}

.Link--white{
	@extend .Link;
	color: white;
	&:hover{
		color: lighten($green, 20%);
	}
}